.footer{
  background: #0F52BA;
  
}


.footer1 .font {
  color: #FFFFFF;
  display: flex;

}


.selecionar {
  text-align: right;
  width: 85vw;

}

.font .footerfont {
  
  margin-left: 128px;
  height: 8px;
  font-weight: 600;

}

.font .footerfont1 {
  padding-top: 20;

  margin-left: 10px;
}


.topicos {
  list-style-type: none;
}


.topicos {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin-left: 300px;
  }

.card {
  text-align: center;
}

.divindividual {
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  max-width: 500px;
}

.wrapper {
  width: 215px;
  height: 285px;
  top: 217px;
  left: 247px;
  
}


.grid {
  display: flex;
}

.wrapper .preco {
  margin-left: 20px;
}

.figura {
 text-decoration: none;
 color: #FFFFFF;
}

.grid {
  display: flex;
}

.grid {
  white-space: normal;

}

.codigo {
  text-align: left;
}

.partebaixo {
  background: #0F52BA;
  display: flex;
}
.partebaixo1 {
  margin-left: 60px;
  align-items: flex-end;
}

.partebaixo12{
  margin-left: 10px;
}